.container {
    text-align: center;
    width: 400px;
}

.flashcard {
    display: table-cell;
    height: 250px;
    width: 400px;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 1px 1px;
    text-align: center;
    vertical-align: middle;
}

.incorrectButton {
    height: 40px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    background-color: red;
}

.correctButton {
    height: 40px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    background-color: green;
}

.nextCardButton {
    height: 40px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
}

.navHeader {
    height: 50px;
    width: 100%;
    margin: 2px;
    border: 1px solid grey;
}

.navOption {
    display: table-cell;
    width: 33%;
    height: 42px;
    padding: 3px;
    margin: 2px;
    border: 1px solid grey;
    text-align: center;
    vertical-align: middle;
}
