.flashcard {
    display: table-cell;
    height: 250px;
    width: 400px;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 1px 1px;
    text-align: center;
    vertical-align: middle;
}
